header
  .bar
    h2 Curriculum vitae
main.section-container
  section
    h1 JOSE ALBIZURES
    h3 WEB DEVELOPER
    dl
      dt Website
      dd www.albizures.com
      dt Email
      dd jose@albizures.com
      dt Github
      dd /albizures
  section
    h4.contact Contact Information
    dl
      dt Full Name
      dd Jose Alfredo Albizures del Valle
      dt Phone Number
      dd +502 33421718/22886720
      dt Linkedin
      dd /in/albizures
      dt Country
      dd Guatemala
footer
  h4 About me
  div.about-me-container
    section
      p.about-me
        span.img
        | I made my first program around ten and since then I have been passionate about programming. I'm a web developer specialized in Javascript, CSS, HTML and others technologies around them; I have been working with web technologies for 3 years I focusing on accessible and robust websites. Currently, I´m working mostly with React and node.js, and experimenting with Rust.
  h4 Experience
  .section-container
    section
      h5 Equily.com
      h6 Equily
      p A news feed startup using Node.js, Express.js, Angular v1 and MySQL working as a Fullstack developer.
      span.date 2015 - 2016
    section
      h5 Question and Answer System
      h6 Freelance
      p A system made for public-private partnerships Anadie using Angular 1v, PHP working as Front-end.
      span.date 2015
  .section-container
    section
      h5 Luces Beautiful App
      h6 Freelance
      p A course oriented app in development using React Native, Next.js, and MySQL
      span.date 2018
    section
      h5 Xoom
      h6 PayPal
      p Money transfer company working as Web Developer
      span.date 2017 - 2018
  h4 Studies
  .section-container
    section
      h5 Informatic Technical degree
      h6 Kinal Foundation
      p Tecnical education center
      span.date 2012 - 2014
    section
      h5 CCNA Discovery
      h6 Kinal Foundation
      p A certificate about Routing and Switching basics given by Cisco Systems
      span.date 2012
  .section-container
    section
      h5 Systems engineering
      h6 Mariano Galvez University
      p Fourth Semester
      span.date 2015 - 2017
    section