header 
  h2 Curriculum vitae
main
  section
    h1 Jose Albizures
    h3 WEB DEVELOPER
    dl
      dt Website
      dd www.albizures.com
      dt Email
      dd jose@albizures.com
      dt Github
      dd /albizures
  section
    h4 Contact Information
    dl
      dt Full Name
      dd Jose Alfredo Albizures del Valle
      dt Phone Number
      dd +502 33421718/22886720
      dt Linkedin
      dd /in/albizures
      dt Country
      dd Guatemala
footer