$blue = #4997df;
$dark-blue = #4997df;
$darker-blue = #3779b7;


body{
  font-family: "Helvetica";
  // text-align: center;
  padding: 50px 20px 0;
  // background: #f4f4f7;
  color: #444;
  margin: 0;
}

header {
  background: $blue
  color: white;
  text-align: right;
  padding: 5px 20px;
  border-bottom: 5px solid $darker-blue

  h2 {
    margin: 0
  }
}

section {
  padding: 0 20px;
}


h4 {
  margin-top: 60px;
}

dd {
  margin: 5px 0 10px 0
  padding-left: 10px;
  border-bottom: 2px dotted gray;
}

h1 {
  color: $dark-blue;
  font-weight: 100
  font-size: 40px;
}

main {
  padding: 0 30px;
}

main,
header,
footer {
  margin: 0 auto
  max-width 800px
}

main {
  display: flex;

  section {
    flex: 1
  }
}

// h1{
//   font-size: 65px;
//   line-height: 1.2em;
//   border-bottom: #CCC solid 1px;
//   padding: 20px 0;
// }

// h3{
//   font-weight: 300;
// }